ion-card-content {
  padding: 0px;
}

ion-list {
  padding: 0px;
}

ion-label {
  margin: 0;
}

ion-card-title {
  font-size: medium;
}

ion-button {
  text-transform: none;
}

ion-item {
  border: none;
}

:host-context(body.dark) {
  
  ion-card-title, 
  ion-card-title div {
    /* Forzamos a que coja el color de texto claro del tema oscuro */
    color: var(--ion-text-color) !important;
  }

}