<div class="custom-tab-bar">
  <a class="tab-item" routerLink="/home" routerLinkActive #rlaHome="routerLinkActive">
    <ion-icon *ngIf="rlaHome.isActive; else homeOutline" name="home"></ion-icon>
    <ng-template #homeOutline><ion-icon name="home-outline"></ion-icon></ng-template>
  </a>
  <a class="tab-item" routerLink="/alimentos" routerLinkActive #rlaAlimentos="routerLinkActive">
    <ion-icon *ngIf="rlaAlimentos.isActive; else restaurantOutline" name="restaurant"></ion-icon>
    <ng-template #restaurantOutline><ion-icon name="restaurant-outline"></ion-icon></ng-template>
  </a>
  <a class="tab-item" routerLink="/perfil" routerLinkActive #rlaPerfil="routerLinkActive">
    <ion-icon *ngIf="rlaPerfil.isActive; else scaleOutline" name="person"></ion-icon>
    <ng-template #scaleOutline><ion-icon name="person-outline"></ion-icon></ng-template>
  </a>
</div>
