<!-- Header con sidebar -->
<ion-menu *ngIf="!simpleHeader" contentId="main-content">
  <ion-header class="ion-no-border">
    <ion-toolbar class="sidebar-toolbar">
      <div class="logo-container">
        @if (isDarkMode ) {
          <img src="assets/images/logo/icon230x285_dark.png" alt="Tech4Diet Logo" class="sidebar-logo">
        } @else {<img src="assets/images/logo/icon230x285.png" alt="Tech4Diet Logo" class="sidebar-logo">}
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list lines="none">
      <ion-item *ngFor="let item of sidebarItems" [routerLink]="item.url" routerLinkActive #rla="routerLinkActive" (click)="closeMenu()">
        <ion-icon *ngIf="rla.isActive" class="bold" [name]="item.icono"></ion-icon>
        <ion-icon *ngIf="!rla.isActive" [name]="item.icono + '-outline'"></ion-icon>
        <span [ngClass]="rla.isActive ? 'bold' : ''" >{{ item.nombre }}</span>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer class="ion-no-border">
    <ion-toolbar color="light">
      <div class="theme-toggle-container">
        <ion-button fill="clear" color="medium" shape="round" class="theme-toggle-btn" (click)="toggleTheme()">
          <ion-icon slot="start" [name]="isDarkMode ? 'sunny' : 'moon'"></ion-icon>
        </ion-button>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-menu>
